*{
	margin: 0;
	padding: 0;
}

body{
	height: 200vh;
	font-family: 'Montserrat';
}

.top-page{
	height: 100vh;
	background: linear-gradient( 
        rgba(1, 0, 0, 0.67),
        rgba(1, 0, 0, 0.67)
		) 
	, url(../img/background.jpg);
	background-size: auto 100%, auto 100%;
	overflow-x: hidden;

}

a{
	transition: .2s;
	text-decoration:none;
}

.nav-brand img{
	height: 40px;
	width: auto;
}

.menu-button{
	width: 27px;
	height: 27px;
}

.title{
	font-size: 4.875rem;
	font-weight: bolder;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12vh;
}

.title span{
	color: #ed6950;
}

.subtitle{
	color: #b1b3b6;
	text-align: center;
}

.more{
	color: #b98000;
	background: #ffc74a;
	padding: 10px 10px;
	text-align: center;
	border-radius: 25px;
	transition: .3s;
	text-transform: uppercase;
	margin: 30px auto;
	font-weight: bold;
}

.more:hover{
	text-decoration: none;
	color: #b98000;
	background: #ffce61;
	font-weight: bold;

}

.info-bottom{
	text-align: center;
	margin-top: 50px;;
}

.places-page{
	position: absolute;
	top: 80vh;
	hidden: hidden;
}

.places-page .card{
	border-radius: 0px;
	border: 0px solid transparent;

}

.places-page .places-title{
	color: white;
	font-weight:bold;
	text-align:center;
	font-size: 1.2rem;
	margin-top: 90%;
	margin-bottom:5px;
}

.places-page .places-subtitle{
	color: #ffc74a;
	font-family: Montserrat;
	font-size: 0.75rem;
}

.places{
	transition: .3s;
}

.places .descr{
	opacity: 0;
	background: linear-gradient( 
		rgba(1, 0, 0, 0.1),
		rgba(1, 0, 0, 0.8)
		);
	width: 100%;
	height: 100%;
	position: absolute;
	transition: margin-top .3s, linear .3s;

}

.places:hover .descr{
	opacity: 1;
}

.places:hover .card-title, .card-subtitle{
	display: none;
}

.card-subtitle{
	display: block;
}

.places:hover .card-subtitle{
	display: none;
}

.descr-title{
	color: white;
	font-weight:bold;
	text-align:center;
	font-size: 1.8rem;
	margin-top: 45%;
	margin-bottom:5px;
}

.descr-subtitle{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 0.75rem;
}

.offers{
	color: #b98000;
	font-family: Montserrat;
	font-size: 0.7rem;
	font-weight: 700;
	line-height: 92px;
	text-transform: uppercase;
	letter-spacing: 1.05px;
	background: #ffc74a;
	border-radius: 20px;
	padding: 10px 20px;
}

.offers:hover{
	text-decoration: none;
	color: #b98000;
	background: #ffce61;
	font-weight: bold;

}


.page-examples{
	padding-top: 190px;
	background: #ffffff;
	overflow-x: hidden;
}

.page-examples h5{
	font-weight: 1000;
	color: #606f81;
}

#search{
	box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
	background-color: #ffffff;
	padding: 20px 30px;
	font-size: 0.875rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABUElEQVQ4jYXSP0iVYRQG8N+9pOCUIoQZFSIu4piTTlLcIZpsS9pCcBEXFzd1cmuuQfxTNBbiJEZDYBDhFQRBHBzUxdk/qPc2fOeTl4+r91nOc97vfZ73nO+cUn1rSIJeTOAlnuAM2/iKb6gpoJQYTGMeLcVLgb94i8P08EHEmRBDHT+xi3ZU8Agv8CviaVrBAKoo4xij2EoeacNHfIh8Ge/zj2VMRbzBm4IYzjGO9cjH8Dg1qARfx787+q8nLZZkP/nWoDv4zh3iHNWEP00NLoM/bGLQnvCL1GA7+Gu03mMw2qiaMlaC92BB1mMR/ZgNfiQb563BJ+xFPokfGEYHnsum9Dtp4Quuc4N8E/uwgWf3tJCjJtuD1bwC2McgFmX7UMQB5nAVmiW8SytI0YkRdIWgij/x8it8l21nDWONDJphBGthclJucrkRNmUj38Xn/yVuS1c2//RLAAAAAElFTkSuQmCC) no-repeat;
	background-position: 97% 50%;
	border: 0px solid transparent;
	border-radius: 20px;
}

.categories{
	font-size: 0.8125rem;
}

.category-1 div{
	padding: 5px 10px;
	margin: 2px 4px;
	background: #bdc8d9;
	color: #ffffff;
	border-radius: 20px;
	transition: .3s;
	cursor: pointer;
	border: 1px solid #f2f4f6;
	font-weight: 600;
}
.category-1 div:hover{
	background: #ffc74a;
	color: #ffffff;

}

.categories .active{
	background: #ffc74a;
	color: #ffffff;
}




.category-2 div{
	padding: 5px 10px;
	margin: 2px 4px;
	background: #ffffff;
	color: #8d97a5;
	border-radius: 20px;
	transition: .3s;
	cursor: pointer;
	border: 1px solid #f2f4f6;
	font-weight: 600;
}
.category-2 div:hover{
	background: #8d97a5;
	color: #ffffff;

}

.card-group .row{
	width: 100%;
}

.page-examples .card-title {
	font-weight: 600;
	color: #606f81;
	font-size: 1.4375rem;


}

.page-examples .card-subtitle {
	font-weight: 600;
	color: #9fa8b2;
	font-size: 0.75rem;

}

.page-examples .card{
	padding: 10px;
}

.page-example .card-body{
	height: auto;
}

.card-offers{
	color: #bdc8d9;
	background:#ffffff;
	padding: 10px 20px;
	border-radius: 25px;
	text-transform:uppercase;
	font-size: 0.75rem;
	font-weight:600;
	box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
}

.card-offers:hover{
	color: #b98000;
	background:#ffc74a;
	text-decoration:none;
}

.card{
	box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
}


.page-explore{
	background:#f8fafb;
	padding-bottom: 30px;
	overflow-x: hidden;
}

.explore{
	text-shadow: 0 0 125px rgba(141, 148, 169, 0.25);
	color: #ffffff;
	font-family: Montserrat;
	font-size: 11.875rem;
	font-weight: bolder;
	line-height: 140px;
	text-transform: uppercase;
	text-align: right;
	position: absolute;
	margin-left: 53%;
}

.page-explore h5{
	font-weight: 1000;
	color: #606f81;
}

.page-explore img{
	height: 450px;
	width: auto;
	z-index: 1000;
	position: relative;
}

.page-explore .explore-border{
	height: 450px;
	width: 462px;
	position: absolute;
	top: 30px;
	left: 40px;
	border: 10px solid #ffc74a;
	background-color: transparent;
	z-index: 100;

}

.page-explore p{
	color: #606f81;
	font-family: Montserrat;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 25px;
	/* Text style for "S, andomie" */
	letter-spacing: 0.14px;
}

.page-explore h4{
	color: #f8c759;
	font-family: Montserrat;
	font-size: 2rem;
	font-weight: 700;
	line-height: 92.97px;
	/* Text style for "Sandomierz" */
	letter-spacing: 0.36px;
}

.explore-offers{
	padding: 10px 20px;
	border-radius: 25px;
	text-transform:uppercase;
	font-size: 0.75rem;
	font-weight:600;
	color: #b98000;
	background:#ffc74a;
	text-decoration:none;
	margin-top: 50px;
	transition:.3s;
}

.explore-offers:hover{
	text-decoration:none;
	color: #b98000;
	background: #ffce61;
	box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
	transition:.3s;
}

.page-enjoy{
	background: url(../img/enjoy-background.jpg);
	background-position: 50% 100%;
	padding: 120px 30px;
}

.page-enjoy h1{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 3.75rem;
	font-weight: 700;
	line-height: 92px;
}

.sign-up{
	padding: 10px 20px;
	border-radius: 25px;
	text-transform:uppercase;
	font-size: 0.75rem;
	font-weight:600;
	color: #b98000;
	background:#ffc74a;
	text-decoration:none;
	margin: 30px auto;
}

.sign-up:hover{
	text-decoration:none;
	color: #b98000;
	background: #ffce61;
}

.newsletter{
	color: #ffc74a;
	text-decoration: underline;
}
.newsletter:hover{
	color: #ffc74a;
	text-decoration: underline;
	text-shadow: 0px 0px 5px #333333
}